body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background-color: aquamarine; */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.MuiDropzoneArea-root {
	background-color: #714b2b54 !important;
}
.MuiDropzoneArea-text, .MuiDropzoneArea-icon {
  color: white !important;
  font-weight: bolder;
  font-size: x-large;
}

.MuiContainer-root{
	/* background-image:image("bg.png"); */
}
.MuiAvatar-img{
	visibility:collapse;
}
.MuiTypography-h6 {
	position: fixed;
	left: 42%;
	font-weight: 900;
	

}
